ul
  - for (var player in players)
    li.ui-state-default
      form(method='post', action='/players/' + players[player].id)
        =players[player].name
        input(type='hidden', name='_method', value='delete')
        button(type='submit')
          span(class='ui-icon ui-icon-closethick')

  form(method='post', action='/players')
    !=partial('players/edit', { locals: { player: player } })
    div
      input(type='submit', value='Add')
