ul
  - for (var p in players)
    - var player = players[p]
    li
      form(method='post', action='/players/' + player.id)
        span.ui-state-default
          =player.name
        input(type='hidden', name='_method', value='delete')
        button.delete(type='submit')

  form(method='post')
    div
      input(type='text', name='player[name]')
    div
      input(type='submit', value='Add')
