!!!
html
  head
    title= 'DartBoard'
    link(rel='stylesheet', href='/css/site.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
    script(type='text/javascript', src='/js/jquery.maphilight.min.js')
    script(type='text/javascript', src='/js/jquery.easing.min.js')
    script(type='text/javascript', src='/js/jquery.lavalamp.min.js')

    script(type='text/javascript')
      $(function() {
        $('#menu > ul').lavaLamp({
          fx: 'backout',
          speed: 700,
        });
      });
  body
    #container
      #header
        #menu
          ul
            li
              a(href='/') DartBoard
            li
              a(href='/players') Players
            li
              a(href='/games') Games
            li
              a(href='/games/new') New Game

        #user
          a(href='/users/logout') Log Out
      #content
        !{flashMessages}
        != body
      #footer 
        a(href='https://github.com/mmozuras') GITHUB/mmozuras
        a(href='http://nodejs.org') NODEjs
        a(href='http://expressjs.com') EXPRESS
        a(href='http://www.mongodb.org') MONGOdb
        a(href='http://mongoosejs.com') MONGOOSE
        a(href='http://jquery.com') JQUERY
        a(href='http://jqueryui.com') JQUERYui
        a(href='http://jade-lang.com') JADE
        a(href='http://lesscss.org') LESS
