!!!
html
  head
    title= 'DartBoard'
    link(rel='stylesheet', href='/css/redmond/jquery-ui-1.8.10.custom.css')
    link(rel='stylesheet', href='/css/site.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
  body
    #container
      #header
      !{flashMessages}
      #body!= body
