@blue: #0073ea;
@red: #ff0084;

#container {
  margin-left: 4%;
  margin-right: 4%;
  border: 1px solid #dddddd;
}

#content {
  margin-left: 60px;
}

#footer {
  clear: left;
  text-align: center;

  a {
    font-size: 80%;
    font-variant: small-caps;
    text-decoration: none;
    color: #000;
    outline: none;
    z-index: 10;
    position: relative;
    margin: auto 10px;  
  }
}

#header {
  height: 65px; 

  a {
    outline: none;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
  }

  #menu {
    float: left;
    width: 800px;

    ul {
      position: relative;
      padding: 15px;
      margin: 3px 0;
      overflow: hidden;

      li {
        float: left;

        a {
          top: 7px;
          z-index: 10;
          height: 30px;
          position: relative;
          margin: auto 10px;   
        }
      }

      li.back {
        border-bottom: 5px solid @blue;
        width: 9px;
        height: 30px;
        z-index: 8;
        position: absolute;
      }
    } 
  }

  #user {
    a {
      float: right;
      padding: 25px 10px 0;
      top: 7px;
      z-index: 10;
      height: 23px;
    }

    a:hover {
      border-bottom: 5px solid @red;
      z-index: 8;
    }
  }
}
