@import "public/css/jquery-ui-1.8.10.custom.less";
@import "public/css/layout.less";

ul { list-style-type: none; }

body {
  margin:0;
  padding:0;
  line-height: 1.5em;
}

h2 {
  color: @black;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 5px solid @blue;
}

#footer{ .ui-state-default; }
#header{ .ui-state-default; }

#board {
  float: left;
  padding: 10px 60px 10px 0;
}

.flash {
  span {  
    margin-right: 0.7em;
    float: left;
  }

  .ui-corner-all {
    padding: 0 5px;
    opacity: 0.9;
    font-weight: bold;
  }
}

#scores {
  margin: 0;
	float: left;
}

#currentPlayer {
  font-weight: bold;
  padding: 25px 10px;
  font-size: 140%;

  .name {
    font-size: 130%;
    color: @blue;
  }

  .score {
    float: right;
    color: @blue;
  }

  .throw {
    color: @red;
  }

  span {
    padding: 0 10px;
  }
}

.centered {
  position: absolute;
  top: 30%;
  left: 43%;
}

#login {
  border: 5px solid @grey;
  -moz-border-radius: 5px 0 5px 5px;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px 0 5px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 3px 3px;
  box-shadow: 0px 3px 3px #666666;
  border-radius: 5px 0 5px 5px;
  
  form {
    margin: 0;
    padding: 5px 8px;
    
    label.field {
      font-size: 11px;
      color: #666;
      display: block;
      padding: 10px 0 7px 7;
    }

    input.field {
      border: 1px solid #ddd;
      padding: 5px;
      width: 220px;
    }

    .submit {
      color: #666;
      font-size: 11px;
      margin: 12px 12px 12px 0;
    }
  }
}

.linkBottom {
  font-size: 80%;
  text-decoration: none;
}
