@import "public/css/jquery-ui-1.8.10.custom.less";

ul { list-style-type: none; }

body {
  margin:0;
  padding:0;
  line-height: 1.5em;
}

b { font-size: 110%; }
em { color: red; }

#container {
  margin-left: 4%;
  margin-right: 4%;
  border-style: groove;
  border-width: 1px;
}

#header {
  height: 65px; 
  .ui-state-default;
}

#content {
  margin-left: 60px; 
}

#footer {
  clear: left;
  text-align: center;
  .ui-state-default;
}

#board {
  float: left;
  width: 800px;
}

.flash {
  span {  
    margin-right: 0.7em;
    float: left;
  }

  .ui-corner-all {
    padding: 0 5px;
    opacity: 0.9;
    font-weight: bold;
  }
}

.menu {
  position: relative;
  padding: 15px;
  margin: 3px 0;
  overflow: hidden;

  li {
    float: left;
    list-style: none;

    a {
      text-decoration: none;
      color: #000;
      outline: none;
      text-align: center;
      top: 7px;
      text-transform: uppercase;
      letter-spacing: 0;
      z-index: 10;
      display: block;
      float: left;
      height: 30px;
      position: relative;
      overflow: hidden;
      margin: auto 10px;   
    }
  }

  li.back {
    border-bottom: 5px solid #0073ea;
    width: 9px;
    height: 30px;
    z-index: 8;
    position: absolute;
  }
}
