script(type='text/javascript')
  $(function() {
    $('.board').maphilight({stroke: false, fillOpacity: 0.5});
  });

#board
  map(name='board')
    area(shape='poly', title='0', coords='309,91,306,23,457,35,541,81,628,174,663,250,679,383,651,486,588,581,482,659,355,684,240,665,152,616,79,539,29,419,24,323,45,217,98,134,169,76,245,37,305,27,307,91,240,114,171,162,124,232,96,305,95,384,119,463,164,528,235,582,308,606,391,605,467,584,532,534,581,469,608,392,608,311,585,234,538,167,474,118,400,93')
    area(shape='poly', title='D18', coords='468,119,506,143,534,167,523,179,492,154,462,135')
    area(shape='poly', title='18', coords='467,235,524,179,492,153,463,136,425,206,448,220')
    area(shape='poly', title='D1', coords='395,95,434,104,467,120,460,135,427,121,392,111')
    area(shape='poly', title='1', coords='392,112,425,120,459,135,425,204,402,196,379,191')
    area(shape='poly', title='T1', coords='378,191,403,196,426,205,419,219,396,212,376,207')
    area(shape='poly', title='T18', coords='426,205,445,217,465,235,455,245,438,231,419,221')
    area(shape='poly', title='D4', coords='534,167,561,200,581,233,568,239,549,210,523,179')
    area(shape='poly', title='4', coords='523,181,549,211,567,240,495,277,482,254,465,237')
    area(shape='poly', title='T4', coords='466,237,481,255,494,276,482,282,465,260,453,247')
    area(shape='poly', title='13', coords='512,325,589,312,582,275,567,241,496,277,504,299')
    area(shape='poly', title='T13', coords='481,283,494,277,503,298,510,324,496,325,490,304')
    area(shape='poly', title='1', coords='376,206,395,210,418,220,363,325,355,320')
    area(shape='poly', title='18', coords='420,220,438,233,455,247,370,328,363,325')
    area(shape='poly', title='4', coords='454,248,471,267,481,282,376,335,371,328')
    area(shape='poly', title='13', coords='376,336,481,283,489,303,494,325,378,345')
    area(shape='poly', title='D13', coords='581,234,596,272,605,309,590,312,580,272,568,241')
    area(shape='poly', title='6', coords='378,344,494,327,495,348,492,371,377,353')
    area(shape='poly', title='T6', coords='495,327,511,325,511,350,510,373,492,371,496,352')
    area(shape='poly', title='6', coords='510,326,512,360,510,373,588,388,592,352,589,312')
    area(shape='poly', title='D6', coords='605,310,608,352,606,387,606,390,590,388,593,349,590,311')
    area(shape='poly', title='10', coords='378,354,492,372,489,394,480,416,375,361')
    area(shape='poly', title='T10', coords='494,373,509,375,502,400,495,421,490,422,479,414,489,394')
    area(shape='poly', title='10', coords='510,375,588,388,577,433,566,460,494,423,503,399')
    area(shape='poly', title='T10', coords='589,389,604,390,594,434,580,465,578,466,566,460,579,424')
    area(shape='poly', title='15', coords='377,363,478,415,467,434,453,449,369,369')
    area(shape='poly', title='T15', coords='478,416,494,424,481,443,462,462,452,452,468,433')
    area(shape='poly', title='15', coords='494,424,565,461,545,492,521,519,463,464,479,444')
    area(shape='poly', title='D15', coords='532,532,559,501,580,468,566,461,542,497,519,520')
    area(shape='poly', title='2', coords='368,368,364,373,415,477,434,467,452,451')
    area(shape='poly', title='T2', coords='451,452,434,468,416,478,422,492,443,478,463,464')
    area(shape='poly', title='2', coords='463,464,518,518,490,545,459,565,423,493,445,479')
    area(shape='poly', title='T2', coords='467,579,505,555,531,532,518,520,494,543,459,564')
    area(shape='poly', title='17', coords='364,373,358,374,373,490,393,487,415,478')
    area(shape='poly', title='T17', coords='414,477,422,492,400,501,377,507,373,492,397,485')
    area(shape='poly', title='18', coords='421,492,399,503,376,508,386,587,420,579,458,563')
    area(shape='poly', title='D17', coords='456,565,422,580,387,587,390,604,427,595,465,580')
    area(shape='poly', title='3', coords='356,376,348,375,346,377,327,491,350,493,371,491')
    area(shape='poly', title='T3', coords='371,492,375,508,349,511,325,508,327,492,350,494')
    area(shape='poly', title='3', coords='374,507,346,511,324,508,309,586,347,590,383,588')
    area(shape='poly', title='D3', coords='388,604,347,606,309,603,311,587,348,591,384,588')
    area(shape='poly', title='19', coords='346,375,326,490,300,485,283,478,338,371')
    area(shape='poly', title='T19', coords='325,491,303,486,284,477,277,491,297,501,322,507')
    area(shape='poly', title='19', coords='323,508,296,501,275,492,239,562,272,576,309,586')
    area(shape='poly', title='D19', coords='306,604,268,594,232,578,241,562,270,576,309,588')
    area(shape='poly', title='7', coords='338,372,331,367,248,449,263,465,281,476')
    area(shape='poly', title='T7', coords='246,450,264,465,283,476,276,491,250,475,235,462')
    area(shape='poly', title='7', coords='275,491,253,478,235,462,180,517,211,546,238,562')
    area(shape='poly', title='D7', coords='239,561,232,576,192,552,168,528,179,518,210,546')
    area(shape='poly', title='16', coords='331,367,326,360,221,413,231,431,247,449')
    area(shape='poly', title='T16', coords='220,414,232,432,246,449,235,460,217,439,206,420')
    area(shape='poly', title='16', coords='235,461,220,444,206,421,135,456,152,487,178,517')
    area(shape='poly', title='D16', coords='177,516,168,528,137,493,121,464,135,456,150,484')
    area(shape='poly', title='8', coords='325,361,221,412,213,394,207,369,324,351')
    area(shape='poly', title='T8', coords='221,413,211,390,207,369,191,371,196,397,206,420')
    area(shape='poly', title='8', coords='206,419,194,392,191,372,113,383,120,421,135,456')
    area(shape='poly', title='D8', coords='134,455,120,421,112,384,97,385,105,428,121,463')
    area(shape='poly', title='11', coords='324,352,323,343,209,324,206,349,207,369')
    area(shape='poly', title='T11', coords='207,370,205,351,208,325,194,323,189,349,190,372')
    area(shape='poly', title='11', coords='189,371,189,342,192,322,113,308,110,348,113,383')
    area(shape='poly', title='D11', coords='113,383,110,351,114,309,99,306,94,345,96,385')
    area(shape='poly', title='14', coords='323,343,326,335,223,282,212,308,208,324')
    area(shape='poly', title='T14', coords='208,323,194,321,200,290,208,275,222,282,213,303')
    area(shape='poly', title='14', coords='192,321,198,298,208,274,138,238,122,276,114,308')
    area(shape='poly', title='D14', coords='114,309,121,276,136,237,123,230,108,269,99,306')
    area(shape='poly', title='25', coords='354,321,352,337,358,340,361,346,361,353,353,360,345,359,341,354,339,344,342,340,351,336,352,321,341,324,333,330,329,334,326,343,325,351,326,359,331,364,337,370,344,373,354,373,361,371,368,367,373,361,375,354,376,346,375,339,371,330,365,326')
    area(shape='circle', title='D25', coords='349,347,9')
    area(shape='poly', title='D9', coords='123,229,137,236,157,207,182,177,170,165,138,205')
    area(shape='poly', title='9', coords='137,237,207,274,228,246,238,234,183,177,158,206')
    area(shape='poly', title='T9', coords='207,274,222,281,244,250,248,247,238,234,216,262')
    area(shape='poly', title='9', coords='325,335,331,328,250,246,232,266,224,282')
    area(shape='poly', title='12', coords='332,328,339,323,286,220,261,236,252,246')
    area(shape='poly', title='T5', coords='250,245,268,230,284,220,278,205,257,219,238,234')
    area(shape='poly', title='12', coords='237,233,256,217,278,203,243,132,207,154,183,177')
    area(shape='poly', title='12', coords='171,164,183,176,211,152,242,133,234,118,195,144')
    area(shape='poly', title='5', coords='286,219,339,324,347,321,329,206,300,212')
    area(shape='poly', title='T5', coords='286,219,307,210,329,206,328,190,304,195,280,203')
    area(shape='poly', title='5', coords='279,204,326,189,314,111,274,120,244,134')
    area(shape='poly', title='D5', coords='235,118,243,133,286,116,314,111,312,94,263,107')
    area(shape='poly', title='20', coords='348,320,355,320,376,206,349,203,330,205')
    area(shape='poly', title='T20', coords='330,205,351,203,374,205,377,189,350,188,329,190')
    area(shape='poly', title='20', coords='328,189,351,188,378,190,390,112,348,106,316,110')
    area(shape='poly', title='D20', coords='312,94,316,111,356,107,392,112,394,94,350,93')

  img.board(src='/images/board.small.jpg', usemap='#board')
