script(type='text/javascript', src='/js/jquery.maphilight.min.js')
script(type='text/javascript')
  $(function() {
    $('.board').maphilight(); 
  });

#board
  img.board(src='/images/board.small.jpg', usemap='#board')
  map(name='board')
    area(shape='poly', coords='313,93,389,94,390,113,347,105,315,110,313,93')

#scores
  span
    :text
      Current thrower:
    =game.players[game.currentPlayer].name
    br
    :text
      Throw number:
    =game.throwNumber + 1

  ul
    - for (var i = 0; i < game.players.length; i++)
      - var player = game.players[i]
        li
          span.ui-state-default
            =player.name
          :text
            :
          span.ui-state-default
            =player.score
  
  form(method='post')
    input(type='text', name='score')
    input(type='submit', value='Score')
