#id
  game.id
ul
  - for (var i = 0; i < game.dartsPlayers.length; i++)
    - var player = game.dartsPlayers[i]
      li
        span.ui-state-default
          =player.playerName
        :text
          :
        span.ui-state-default
          =player.score
  
form(method='post')
  input(type='text', name='score')
  input(type='submit', value='Score')
