!=partial('board')

#scores
  span
    :text
      Current thrower:
    =game.players[game.currentPlayer].name
    br
    :text
      Throw number:
    =game.throwNumber + 1

  ul
    - for (var i = 0; i < game.players.length; i++)
      - var player = game.players[i]
        li
          span.ui-state-default
            =player.name
          :text
            :
          span.ui-state-default
            =player.score
