script(type='text/javascript')
  $(function() {
    $('area').click(function() {
      $.post(window.location.pathname, { score: $(this).attr('title')}, function(data) {    
        //TODO: Ajaxify this?
        window.location.reload();
      });
    });

    $(function () {
      $('li.' + $('input.lastThrower').attr('value')).children().effect('highlight', {}, 3000);
    });
  });

!=partial('board')

#scores
  span
    :text
      Current thrower:
    =game.players[game.currentPlayer].name
    br
    :text
      Throw number:
    =game.throwNumber + 1

  input.lastThrower(type='hidden', value=game.lastThrower().name)
  ul
    - for (var i = 0; i < game.players.length; i++)
      - var player = game.players[i]
        li(class=player.name)
          span.ui-state-default
            =player.name
          :text
            :
          span.ui-state-default
            =player.score

  form(method='post', action='/games/' + game.id + '/undoThrow')
    input(type='submit', value='Undo Throw')
