script(type='text/javascript')
  $(function() {
    $('area').click(function() {
      $.post(window.location.pathname, { score: $(this).attr('title')}, function(data) {    
        window.location.reload();
      });
    });

    $(function () {
      $('li.' + $('input.lastThrower').attr('value')).children().effect('highlight', {}, 3000);
    });
  });

!=partial('board')

#scores
  #currentPlayer
    - var player = game.players[game.currentPlayer]
      span.name
        =player.name
      span.score
        =game.players[game.currentPlayer].score
      div
      - for (var i = player.throws.length; i > player.throws.length - game.throwNumber; i--)
        span.throw
          - var t = player.throws[i - 1]
            =t.score * t.modifier

  input.lastThrower(type='hidden', value=game.lastThrower().name)
  ul
    - for (var i = 0; i < game.players.length; i++)
      - if (i != game.currentPlayer)
        - var player = game.players[i]
          li(class=player.name)
            span.ui-state-default
              =player.name + " : " + player.score

  form(method='post', action='/games/' + game.id + '/undoThrow')
    input(type='submit', value='Undo Throw')
