label.field(for='username') Username:
input.field(name='user[username]', value=user.username || '')

label.field(for='password') Password:
input.field(name='user[password]', value=user.password || '', type='password')
