label.field(for='username') Username:
input(class='field required', name='user[username]', value=user.username || '')

label.field(for='password') Password:
input(class='field required', name='user[password]', value=user.password || '', type='password')
