div
  label(for='username') Username:
  input(name='user[username]', value=user.username || '')

div
  label(for='password') Password:
  input(name='user[password]', value=user.password || '', type='password')
