!!!
html
  head
    title= 'Dartboard'
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
    link(rel='stylesheet', href='/css/site.css')

    script(type='text/javascript')
      $(function() {
        $(':submit, a.linkBottom').button();
        $('#login').accordion();
      });
      
  body
    .centered
      h2 Dartboard
      !{flashMessages}
      #login
        h3 
          a(href='#') Login
        #login-tab
          form(method='post')
            !=partial('edit', { locals: { user: user } })
            .submit
              input(type='submit', value='Log In')
              input#loginRemember(type='checkbox', name='rememberMe')
              label.inline(for='rememberMe', id='loginRemember') Remember me

        h3
          a(href='#') Register
        #register-tab
          form(method='post', action='/users/register')
            !=partial('edit', { locals: { user: user } })
            label.field(for='confirmPassword') Confirm password:
            input.field(name='confirmPassword', type='password')
            .submit
              input(type='submit', value='Register')
