!!!
html
  head
    title= 'Dartboard'
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
    link(rel='stylesheet', href='/css/site.css')

    script(type='text/javascript')
      $(function() {
        $(':submit, a.linkBottom').button();
      });
      
  body
    .centered
      !{flashMessages}
      h2 Dartboard
      #login
        form(method='post')
          !{flashMessages}
          !=partial('edit', { locals: { user: user } })
          .submit
            input(type='submit', value='Register')
            span
              a(href='/users/login') Log In
