!!!
html
  head
    title= 'DartBoard'
    link(rel='stylesheet', href='/css/site.css')
  body
    .centered
      !{flashMessages}
      h2 Register
      form(method='post')
        !=partial('edit', { locals: { user: user } })
        div
          input(type='submit', value='Register')
          span 
            a(href='/users/login') Log In
